section {
	position: relative;
}
.custom-shape-divider-top-1625785909 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	fill: #fce6ff;
	z-index: -5;
}

.searched-gif {
	border-radius: 5px;
	border: solid lightgrey 1px;
	width: 24%;
	margin: 0.5%;
}
body {
	background-color: #f8ccff;
	background-image: linear-gradient(to bottom right, #f8ccff, #e77bc3);
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	text-align: center;
	font-family: "Coiny", cursive;
	color: #ca4ca1;
	font-size: 3rem;
	margin-bottom: 50px;
}
.container {
	padding-top: 5rem;
	padding-bottom: 2rem;
}
.show-top {
	display: block;
}
.row {
	background: #fce6ff;
	padding: 2rem;
	border-radius: 2rem;
	box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
		rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
		rgba(240, 46, 170, 0.05) 25px 25px;
	border: solid #ef4db8 3px;
}

.heading {
	margin-bottom: 2rem;
	padding: 4rem;
}
form {
	display: flex;
	align-items: center;
	justify-content: center;
}
label {
	display: block;
	text-align: center;
	font-family: "Thasadith", sans-serif;
	font-size: 1.5rem;
	margin-bottom: 20px;
}
p {
	margin: 0;
}

input {
	background: white;
	border: none;
	border-radius: 50px 0px 0px 50px;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding: 12px 20px;
	font-family: "Thasadith", sans-serif;
	color: #ca4ca1;
	border: solid #ca4ca1 3px;
	border-right: none;
}

button {
	border: none;
	background: #ca4ca1;
	color: #fef4ff;
	padding: 10px 10px 8px 20px;
	border-radius: 0px 50px 50px 0px;
	text-transform: uppercase;
	min-width: 160px;
	font-family: "Coiny", cursive;
	font-size: 1.25rem;
	border: solid #ca4ca1 3px;
}
button:hover {
	background: #f25bc2;
	border: solid #f25bc2 3px;
	transition: all 0.4s ease-in-out;
}
#arrow {
	max-width: 1.25rem;
	margin-left: 10px;
	margin-top: -5px;
}
::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #ca4ca175;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #ca4ca175;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: #ca4ca175;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: #ca4ca175;
}
.container {
	max-width: 1000px !important;
}
hr {
	margin-top: 50px;
	background-color: #ca4ca1;
	text-align: center;
	line-height: 1px;
	height: 1px;
	font-size: 1.5rem;
	border-style: solid;
	border-color: #ca4ca1;
	overflow: visible;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;
	opacity: 1 !important;
}
.sub-header {
	color: #ca4ca1;
	background-color: #fce6ff;
	text-align: center;
	padding: 0px 30px;
	font-family: "Thasadith", sans-serif;
	font-size: 1.5rem;
	border: solid 1px #ca4ca1;
	border-radius: 100px;
	padding: 10px 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	margin-top: -45px;
	margin-bottom: 50px;
}
.nav {
	border-radius: 100px;
	text-align: center;
	margin: 0;
	display: inline;
	padding: 10px 10px 8px 20px;
	width: 200px;
}
nav {
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}
.results {
	margin-bottom: 2rem;
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media only screen and (max-width: 1024px) {
	.searched-gif {
		width: 32%;
		margin: 0.6%;
	}
	.sub-header {
		font-size: 0.8rem;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 25px;
	}
}

@media only screen and (max-width: 767px) {
	.searched-gif {
		width: 48%;
		margin: 1%;
	}
	hr {
		font-size: 0.7rem;
	}
	.heading {
		margin-bottom: 2rem;
		padding: 2rem 1rem;
	}

	hr {
		background-color: transparent;
	}
	h1 {
		font-size: 2.2rem;
	}
	.container {
		max-width: 95% !important;
	}
	form {
		max-width: 90vw !important;
	}
	.container {
		display: block;
	}
	.mobile {
		display: block !important;
	}
	button.nav.next,
	button.nav.prev {
		width: 100%;
		margin-bottom: 1rem;
	}
	.results {
		padding: 2rem 1rem;
	}
}
